* {
    box-sizing: border-box;
}

.container {
    background-color: #C1C1C1;
    padding: 0;
    display: flex;
}

.LogoCenterText {
    margin: 0 auto;
    padding-top: 0.2em;
    padding-bottom: .2em;
    font-family: 'Montserrat', "Work Sans",'sans-serif';
    font-size: 3em;
    /*flex-grow: 1;*/
    text-align: center;
}

ul {
    color: #242424;
    font-weight: bold;
    list-style: none;
    align-items: center;
}

a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: #242424;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #3B94D9;
}

a:visited {
    text-decoration: none;
}