body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info {
    background-color: #a1bbee;
    color:darkblue;
    margin:1em;
    padding:1em;
    border-radius:7px;
    border-style:solid;
    border-color: #a7a4a4;
    border:4px;
}
.message-success {
    background-color: #b7f6bf;
    color: #1d6305;
    margin:1em;
    padding:1em;
    border-radius:7px;
    border-style:solid;
    border-color: #a7a4a4;
    border:4px;
}
.message-warning {
    background-color: #f5eda1;
    color: #807a55;
    margin:1em;
    padding:1em;
    border-radius:7px;
    border-style:solid;
    border-color: #a7a4a4;
    border:4px;
}
.message-error {
    background-color: #f1c6de;
    color: #821c3e;
    margin:1em;
    padding:1em;
    border-radius:7px;
    border-style:solid;
    border-color: #a7a4a4;
    border:4px;
}